<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>
<div th:insert="~{units/bootstrap::copy}"></div>

<div th:insert="~{units/navbar-admin::copy}"></div>

<div id="author_in_alert" class="alert alert-primary" role="alert">
    <h1 th:text="${search!=null? search:'All books'}"></h1>
</div>

<br>

<div id="button" class="btn-group" role="group">
    <a class="btn btn-success" th:href="@{{uri}/new(uri=${uri})}" role="button">Add new book</a>
</div>

<br>

<div th:if="${list==null or list.isEmpty()}">

    <br>
    <div id="no_data_found" class="alert alert-primary" role="alert">
        <h3>No data was found for your query</h3>
    </div>

</div>

<div th:if="${list!=null and !list.isEmpty()}">

    <div id="table" class="container">
        <table class="table">
            <thead>
            <tr>
                <th th:replace="units/sorting :: sorting('id','ID')"></th>
                <th th:replace="units/sorting :: sorting('author_name','Author name')"></th>
                <th th:replace="units/sorting :: sorting('author_surname','Author surname')"></th>
                <th th:replace="units/sorting :: sorting('name','Title')"></th>
                <th th:replace="units/sorting :: sorting('genreBook','Genre')"></th>
                <th th:replace="units/sorting :: sorting('year','Year')"></th>
                <th th:replace="units/sorting :: sorting('amount','Amount')"></th>
                <th th:replace="units/sorting :: sorting('price','Price')"></th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="entity : ${list}">
                <tr>
                    <td th:text="${entity.id}"></td>
                    <td th:text="${entity.author.name}"></td>
                    <td th:text="${entity.author.surname}"></td>
                    <td th:text="${entity.name}"></td>
                    <td th:text="${entity.genreBook}"></td>
                    <td th:text="${entity.year}"></td>
                    <td th:text="${entity.amount}"></td>
                    <td th:text="${entity.price}"></td>
                    <td>
                        <a th:href="@{{uri}/{id}/edit(id=${entity.id}, uri=${uri})}"
                           class="btn btn-primary" type="button"><i
                                class="fa fa-edit" aria-hidden="true"></i> </a></td>
                    <td>
                        <form th:method="DELETE" th:action="@{{uri}/{id}(id=${entity.id},uri=${uri})}" class="row g-3">
                            <div class="col-12">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </div>
                        </form>
                    </td>

                </tr>
            </div>
            </tbody>
        </table>
    </div>

</div>

<div id="pagin">

    <th:block th:replace="units/paginate :: pagination(${list})"></th:block>

</div>


</body>
</html>