<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit client</title>
</head>
<body>

<div th:insert="~{units/bootstrap::copy}"></div>

<div th:insert="~{units/navbar::copy}"></div>

<h1 style="text-align:center">Please fill out this form to <span class="badge text-bg-danger">edit</span> your data</h1>

<div th:if="${message!=null}">

    <div id="cart_in_alert" class="alert alert-primary" role="alert">
        <h5 th:text="${message}"></h5>
    </div>

</div>

<div class="container-fluid" id="form">
    <div class="row">
        <div class="col-4">
            <form th:method="PATCH" th:action="@{{uri}/edit/password(uri=${uri})}" class="row g-3" th:object="${object}">

                <div>
                    <label for="password">Old password</label>
                    <input type="password" name="oldPassword" id="password" class="form-control" style="color: coral"/>
                    <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="alert alert-danger"
                         role="alert"/>
                </div>

                <div>
                    <label for="newpassword">New password</label>
                    <input type="password" name="newPassword" id="newpassword" class="form-control"
                           style="color: coral"/>
                    <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="alert alert-danger"
                         role="alert"/>
                </div>

                <div>
                    <label for="newpasswordrepeat">New password repeat</label>
                    <input type="password" name="newPasswordRepeat" id="newpasswordrepeat" class="form-control"
                           style="color: coral"/>
                    <div th:if="${#fields.hasErrors('newPasswordRepeat')}" th:errors="*{newPasswordRepeat}" class="alert alert-danger"
                         role="alert"/>
                </div>

                <div>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>