<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar-user</title>
</head>
<body>

<div th:fragment="copy">

    <nav class="navbar navbar-expand-md fixed-top" style="height: 60px">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/image-brand.png}" alt="Book-online" id="brand">
        </a>

        <div th:insert="~{units/search::all-over}"></div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a th:href="@{/}" class="btn btn-outline-secondary" type="button"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/library}" class="btn btn-outline-secondary" type="button"><i class="fa fa-book" aria-hidden="true"></i> Library</a>
                </li>
            </ul>
        </div>
    </nav>

    <div th:insert="~{client/units/button-menu-client::copy}"></div>

</div>

</body>
</html>